* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif; /* Cambiamos la fuente a Verdana */
}

a {
    text-decoration: none;
    font-weight: 700;
}

div {
    width: fit-content;
}

.danger {}

.success {}

.info {}

.warning {}